{
	"extends": ["plugin:import/recommended", "airbnb-base", "prettier"],
	"env": {
		"es6": true,
		"node": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"rules": {
		"consistent-return": "off",
		"no-console": "off",
		"no-plusplus": "off",
		"no-continue": "off",
		"no-param-reassign": "off",
		"no-underscore-dangle": "off",
		"no-await-in-loop": "off",
		"no-shadow": "off",
		"no-shadow-restricted-names": "error",
		"no-use-before-define": ["error", { "functions": false }],
		"no-restricted-syntax": [
			"error",
			{
				"selector": "ForInStatement",
				"message":
					"for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
			},
			{
				"selector": "LabeledStatement",
				"message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
			},
			{
				"selector": "WithStatement",
				"message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
			}
		],
		"import/prefer-default-export": "off",
		"lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
		"import/no-extraneous-dependencies": [
			"error",
			{ "devDependencies": ["mapCoverage.{js,ts}", "{test,tests,__tests__}/**/*.{js,ts}"] }
		]
	}
};