/* Global settings */
html {
    font-size: 16px;
    font-family: Arial, Segoe UI , San Francisco, Roboto; 
    /* used by rem, root em, 62.5% * vw = 1rem = 10px*/
}

/* Root variables */
/* Font-sizes based on Utopia (https://utopia.fyi/) */
:root {
    --step--2: clamp(0.69rem, 0.67rem + 0.14vw, 0.76rem);
    --step--1: clamp(0.83rem, 0.68rem + 0.79vw, 1.24rem);
    --step-0: clamp(1.00rem, 0.61rem + 1.95vw, 2.00rem);
    --step-1: clamp(1.20rem, 0.41rem + 3.97vw, 3.24rem);
    --step-2: clamp(1.44rem, -0.04rem + 7.41vw, 5.24rem);
    --step-3: clamp(1.73rem, -0.90rem + 13.16vw, 8.47rem);
    --step-4: clamp(2.07rem, -2.47rem + 22.70vw, 13.71rem);
    --step-5: clamp(2.49rem, -5.20rem + 38.42vw, 22.18rem);
    --input-width: clamp(100px, 70vw, 50ch);
  }

/* 
OBS: em on any element besides font-size, refers to font-size
of the current tag/class/id
*/

/* General tags attributes */

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(240,241,245);
    color: rgb(83,83,83);
}

main {
    margin-top: min(100px, 10vw);
}

img {  
    max-width: 110%;  
    height: auto;  
}  

a {
    text-decoration: none;
    color: rgb(60, 152, 218);
    font-weight: bold;
}

button {
    background-color:rgba(255, 255, 255, 0.884);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    color: rgb(63, 63, 63);
    padding: 0.5em 1em;
    font-size: var(--step--1);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

button:hover {
    box-shadow: inset 0 0 1.2pt 1pt #D7D7D6;
}

footer {
    font-size: var(--step--2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: min(100px,30rem);
}

footer > p {
    width: var(--input-width);
}

